<mat-card *ngIf="!voting.hasVoted()">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" style="width: 100%;">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Nr.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titel</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="interpret">
        <th mat-header-cell *matHeaderCellDef>Interpret</th>
        <td mat-cell *matCellDef="let element"> {{element.interpret}} </td>
      </ng-container>
      <ng-container matColumnDef="links">
        <th mat-header-cell *matHeaderCellDef> Links</th>
        <td mat-cell *matCellDef="let element">
          <a mat-button color="primary" *ngFor="let link of element.links" target="_blank" href="{{link}}">
            <mat-icon>link</mat-icon>
          </a></td>
      </ng-container>
      <ng-container matColumnDef="votes">
        <th mat-header-cell *matHeaderCellDef> Votes</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="voteDown(element)" *ngIf="!element.isSumme">-</button>
          {{element.points}}
          <button mat-raised-button color="accent" (click)="voteUp(element)" *ngIf="!element.isSumme">+</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="sendVotes()">Abstimmen</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="voting.hasVoted()">
  <mat-card-content>
    Vielen Dank für's Abstimmen!
  </mat-card-content>
</mat-card>
